<footer class="bg-primary short-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="text-white"><a href="mailto:kjcalderone@gmail.com">kjcalderone@gmail.com</a></span>
                <span class="text-white">(772) 341-0031</span>
                <span class="text-white">Santa Monica, California</span>
            </div>
        </div>
    </div>

    <div class="contact-action">
        <div class="align-vertical">
            <i class="icon text-white icon_mail"></i>
            <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
        </div>
    </div>
</footer>