
<footer class="social bg-secondary-1">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-white">Get In Touch</h1>
                <a href="#" class="text-white"><strong>hello@mrare.co</strong></a><br>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_tumblr"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_pinterest"></i>
                        </a>
                    </li>
                </ul><br>
                <span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
            </div>
        </div>
    </div>

</footer>
