
<nav class="top-bar overlay-bar">
    <div class="container">

        <!-- <div class="row utility-menu">
            <div class="col-sm-12">
                <div class="utility-inner clearfix">
                    <span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
                    <span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>

                    <div class="pull-right">
                        <a href="login.html" class="btn btn-primary btn-white btn-xs">Login</a>
                        <a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
                        <a href="#" class="language"><img alt="English" src="{{ "/assets/img/english.png" | prepend: site.baseurl }}"></a>
                        <a href="#" class="language"><img alt="English" src="{{ "/assets/img/denmark.png" | prepend: site.baseurl }}"></a>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="row nav-menu">
            <div class="col-md-2 col-sm-3 columns">
                <img class="logo logo-light" alt="Logo" src="{{ '/assets/images/logo/logo-light.png' | prepend: site.baseurl }}">
                <img class="logo logo-dark" alt="Logo" src="{{ '/assets/images/logo/logo-dark.png' | prepend: site.baseurl }}">
            </div>

            <div class="col-md-10 col-sm-9 columns">
                <ul class="menu">
                    <li><a href="#">Work</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <ul class="social-icons text-right">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon social_instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mobile-toggle">
            <i class="icon icon_menu"></i>
        </div>

    </div>
</nav>
