<section class="no-pad-bottom projects-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <h1>Check out some of our<br>latest and greatest projects</h1>
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
                </p>
            </div>
        </div>

    </div>

    <div class="projects-wrapper clearfix">
        <div class="container">
            <div class="row">
                <ul class="filters">
                    <li data-filter="*" class="active"><span>All</span></li>
                    <li data-filter=".filter-uxui"><span>UX / UI Design</span></li>
                    <li data-filter=".filter-visual"><span>Visual Design</span></li>
                    <li data-filter=".filter-print"><span>Print Design</span></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="projects-container column-projects">

            {% for project in site.data.projects %}
                <div class="col-lg-3 col-md-3 col-sm-6 project {% for filter in project.filters %} filter-{{ filter }} {% endfor %}image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="{{ project.image | prepend: site.baseurl }}">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h3 class="text-white">
                                <strong>{{ project.title }}</strong>
                                <br>{{ project.type }}
                            </h3>
                            <a href="{{ project.link | prepend: site.baseurl }}" class="btn btn-primary btn-white">See Project</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>

    </div>

</section>