<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.plugin.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.flexslider-min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/smooth-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/skrollr.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/spectragram.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scrollReveal.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/isotope.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/twitterFetcher_v10_min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.countdown.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>


<script>
  $(window).load(function() {
    $('.hero-slider').flexslider();
    $('.flexible-slider').flexslider();
  });
</script>