
<section class="no-pad-bottom no-pad-top projects-gallery">

    <div class="projects-wrapper clearfix">

        <div class="similar-projects-title">
            <h3>Similar Projects</h3>
        </div>

        <div class="projects-container">

            <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="{{ '/assets/img/project1.jpg' | prepend: site.baseurl }}">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <h3 class="text-white"><strong>Identity</strong> Mockup</h3>
                        <p class="text-white">
                            Showcase your new identity with<br>this sleek mockup.
                        </p>
                        <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 no-pad project branding image-holder">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="{{ '/assets/img/project4.jpg' | prepend: site.baseurl }}">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <h3 class="text-white"><strong>Aurora</strong> Icon Kit</h3>
                        <p class="text-white">
                            A fresh and circular take on Apple's<br>iconic home screen.
                        </p>
                        <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                <div class="background-image-holder">
                    <img class="background-image" alt="Background Image" src="{{ '/assets/img/project6.jpg' | prepend: site.baseurl }}">
                </div>
                <div class="hover-state">
                    <div class="align-vertical">
                        <h3 class="text-white"><strong>Sketchbook</strong> Logos</h3>
                        <p class="text-white">
                            Present your hand-drawn logos on this<br>realistic sketchbook mockup.
                        </p>
                        <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>