.image-column {
    min-height: 100%;
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.project-overview-section .title {
    margin-bottom: 10px;
}

.project-section-title {
    margin-bottom: 20px;
}

.feature-icon-left .feature-text {
    width: 100%;
}

.icon-holder {
    display: flex;
}


.business-pleasure-bg-color {
    background-color: #b7a048 !important;
}

.business-pleasure-text-color {
    color: #b7a048 !important;
}

.marbles-bg-color {
    background-color: #4596b3 !important;
}

.marbles-text-color {
    color: #4596b3 !important;
}


.stoked-bg-color {
    background-color: #3d6ec1 !important;
}

.stoked-text-color {
    color: #3d6ec1 !important;
}