.image-column {
    min-height: 100%;
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.project-overview-section .title {
    margin-bottom: 10px;
}

.project-section-title {
    margin-bottom: 20px;
}

.feature-icon-left .feature-text {
    width: 100%;
}

.icon-holder {
    display: flex;
}