.fifty-column-with-image {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }

  .fifty-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;

    @media screen and (min-width: 800px) {
      padding: 50px;
    }

    @media screen and (min-width: 1400px) {
      padding: 50px 80px;
    }

    > p {
      max-width: 750px;
    }
  }

  .fifty-image {
    flex: 1;
  }
}

.revision-image {
  background: url(/assets/images/revision/sharepack_in_use-edit.png);
  background-size: cover;
  min-height: 600px;
}
