$max-width: 1060px;

.section-introduction {
  padding: 100px 0 50px;

  @media screen and (min-width: 800px) {
    padding: 150px 0 100px;
  }

  @media screen and (min-width: 1400px) {
    padding: 200px 0 150px;
  }

  .section-introduction-content {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.feature h6 {
  max-width: $max-width;
  margin: 0 auto 11px;
}


.feature > p,
.feature li {
  max-width: $max-width;
  margin: 0 auto 11px;
  color: #777777;
  font-size: 16px;
  line-height: 35px;
  font-weight: normal;
}

.fifty-column-with-image {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  .fifty-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;

    @media screen and (min-width: 800px) {
      padding: 50px;
    }

    @media screen and (min-width: 1400px) {
      padding: 50px 80px;
    }

    > p {
      max-width: 750px;
    }
  }

  .fifty-image {
    flex: 1;
  }
}

.udemy-image {
  background: url(/assets/images/udemy/udemy-browser.png);
  background-size: cover;
  min-height: 300px;

  @media only screen and (min-width: 800px) {
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.revision-image {
  background: url(/assets/images/revision/sharepack_in_use-edit.png);
  background-size: cover;
  min-height: 600px;
}

.revision-select-functionimage {
  background: url(/assets/images/revision/select-function.png);
  background-size: cover;
  min-height: 600px;
}

.revision-user-testing-image {
  background: url(/assets/images/revision/user-testing-crop.png);
  background-size: cover;
  min-height: 600px;
}

.ou-image {
  background: url(/assets/images/ou-innovate/OU-campus2-crop.png);
  background-size: cover;
  min-height: 600px;
}

.ou-og-home-image {
  background: url(/assets/images/ou-innovate/ou-og-home.png);
  background-size: cover;
  min-height: 600px;
}

.ou-new-home-image {
  background: url(/assets/images/ou-innovate/ou-new-home.png);
  background-size: cover;
  min-height: 600px;
}

@media screen and (min-width: 767px) {
  .fifty-fifty-images {
    display: flex;

      img {
        display: block;
        width: 50%;
        height: 50%;
      }
  }
}
