html {
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        background-color: $white;
    }
}

.marbles-header {
    height: 40vh !important;

    @include breakpoint(medium) {
        height: 50vh !important;
    }

    @include breakpoint(large) {
        height: 75vh !important;
    }
}

#kim-header--container {
    min-height: 667px;
    background-color: #ffffff;
    color: #22292F;
}

.page-header:before {
    opacity: 0 !important;
}

#kim-header--title-name {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    //color: #37D8C2;
    color: #19A2A5;
}

#kim-header--title {
    font-size: 34px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 25px;    
}

#kim-nav--menu a,
#kim-nav--social a {
    color: #22292F;
}

@media screen and (min-width: 767px) {
    #kim-header--container {
        min-height: 800px;
        margin-top: 150px;
    }

    #kim-header--title-name {
        font-size: 18px;
    }

    .kim-project--revision--container {
        margin-left: 25px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 900px) {
    .kim-project--revision--container {
        margin-left: 50px;
        margin-top: 70px;
    }

    #kim-header--title {
        font-size: 45px;
    }
}


@media screen and (min-width: 1200px) {
    .kim-project--revision--container {
        margin-left: 100px;
        margin-top: 100px;
    }
    
    #kim-header--title {
        font-size: 55px;
    }
}

@media screen and (min-width: 1456px) {
    .kim-project--revision--container {
        margin-left: 100px;
        margin-top: 100px;
    }
}


@media screen and (min-width: 1400px) {
    .kim-project--revision--container {
        margin-top: 150px;
    }
}

@media screen and (min-width: 1650px) {
    #kim-header--title {
        font-size: 75px;
    }
}


@media screen and (min-width: 1650px) {
    .kim-project--revision--container {
        margin-top: 200px;
    }

    #kim-header--title {
        font-size: 75px;
    }
}


.bg-primary {
    // background-color: orange !important;
  }
.bg-secondary-1 {
    // background-color: #282e33 !important;
}
.bg-secondary-2 {
    // background-color: #164852 !important;
}
.bg-white {
    // background-color: #fff !important;
}