@media screen and (max-width: 767px) {
    .nav-menu {
        background-color: $white;
    }
}

.marbles-header {
    height: 40vh !important;

    @include breakpoint(medium) {
        height: 50vh !important;
    }

    @include breakpoint(large) {
        height: 75vh !important;
    }
}