<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

    <head>
        {% include head.html %}
    </head>

    <body>

        <div class="loader">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
        </div>

        <div class="nav-container">
            {% include nav.html %}
        </div>

        <div class="main-container">
            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}
        
        <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
        <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
            m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, '//analytics.jasonraimondi.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'VBBES');
        fathom('trackPageview');
        </script>
        <!-- / Fathom -->
    </body>
</html>
