<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

    <head>
        {% include head.html %}
    </head>

    <body>

        <div class="loader">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
        </div>

        <div class="nav-container">
            {% include nav.html %}
        </div>

        <div class="main-container">
            {{ content }}
        </div>

        {% include footer.html %}

        {% include scripts.html %}
    </body>
</html>
