.container {
    width: 90% !important;

    @include breakpoint(medium) {
        width: 85% !important;
    }

    @include breakpoint(large) {
        width: 80% !important;
    }

    @include breakpoint(xlarge) {
        width: 70% !important;
    }
}


.flex-direction-nav a:before {
    padding-bottom: 25px;
}

.image-column {
    display: table;

    .image-container {
        margin-right: 25px;
    }

    .center {
      text-align: center;
      vertical-align: middle;
    }

    .left-column {
        float: none;
        display: table-cell;
    }

    .right-column {
        float: none;
        display: table-cell;
    }
}

