@each $alignment in center, left, right, justify {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

.cursive {
  font-family: "Pacifico", cursive;
}

.no-bullet {
    // Internal variables used for text direction
    margin-#{$global-left}: 0;
    list-style: none;
}

// Code block.
pre {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $medium-gray;
    border-radius: 2px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: scroll;
}

code {
    padding: 0;
}
